@use 'utils' as *;

@keyframes appearanceBottom {
  from {
    opacity: 0;
    transform: translateY(rem(20))
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes appearanceTop {
  from {
    opacity: 0;
    transform: translateY(rem(-20))
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}


@keyframes appearanceTopSlow {
  0% {
    opacity: 0;
    transform: translateY(rem(-20))
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes appearanceLeft {
  from {
    opacity: 0;
    transform: translateX(rem(-200))
  }
  to {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes appearanceRight {
  from {
    opacity: 0;
    transform: translateX(rem(200))
  }
  to {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes slideDownMax {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: rem(300);
    opacity: 1;
  }
}

.appearence-bottom {
  animation: appearanceBottom 1.1s ease-in-out forwards;
}

.appearence-top {
  animation: appearanceTop 0.8s ease-in-out forwards;
}

.appearence-top-slow {
  animation: appearanceTopSlow 1.5s ease-in-out forwards;
}

.appearence-left {
  animation: appearanceLeft 1s ease-in-out forwards;
}

.appearence-right {
  animation: appearanceRight 1s ease-in-out forwards;
}

.slide-down-max {
  animation: slideDownMax 2s ease-out forwards;
}

