@use 'utils' as *;

.header {
  @include flex-center;
  background-color: transparent;
  box-shadow: 0 rem(10) rem(10) #000;
  padding-block: 15px;
  margin-bottom: rem(15);

  &__container {
    width: rem(500);
    display: flex;
    justify-content: space-between;
    padding-inline: rem(10);
    padding-bottom: rem(5);
    border-bottom: 1px solid var(--color-white);
  }

  &__search {
    border: none;
    background-color: transparent;
    color: var(--color-white);
    width: 100%;

    &:focus {
      outline: none;
    }
  }


}

.disabled {
  color: var(--color-light-gray);
}
