@use 'utils' as *;

.main {
  font-size: rem(20);
  min-height: calc(100vh - rem(130));
  @include flex-center;

  &__card {
    margin-inline: rem(15);
    height: calc(100vh - 79.5px - rem(20));
    border-radius: rem(30);
    width: min(625px, 100vw);
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--theme-gradient);
    overflow: hidden;
  }
}

.card__location {
  padding-block: rem(10);
  padding-inline: rem(30);
  background-color: var(--black-opacity);
  border-radius: 0 0 rem(15) rem(15);
  text-wrap: wrap;
  text-align: center;
  line-height: 1.25;
}

.card__time {
  margin-bottom: rem(90);
}

.card__icon-container {
  margin-bottom: rem(30);
  width: rem(200);

}

.card__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  margin-bottom: rem(40);
  animation: var(--animation);

  &-weather {
    font-size: rem(50);
    margin-bottom: rem(10);
    text-wrap: wrap;
    text-align: center;
    animation-delay: 0.5s;
  }

  &-degree {
    font-size: rem(40);
    margin-bottom: rem(15);
    line-height: 1;
    animation-delay: 0.5s;
  }

  &-day {
    animation-delay: 0.5s;
  }
}

.card__forecast {
  background-color: transparent;
  font-size: rem(14);
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
  margin-top: auto;
  flex-shrink: 0;
  row-gap: rem(10);
  scroll-behavior: smooth;
  padding-top: rem(10);
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: rem(10);
  }
  &::-webkit-scrollbar-track {
    background: var(--blackX2-opacity);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--black-opacity);
    border-radius: rem(5);
    border: 2px solid var(--black-opacity);
  }

  &-icon {
    width: rem(60);
  }
}

.card__supporting-information {
  background-color: var(--black-opacity);
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-block: rem(20);
  border-top: 2px solid var(--black-opacity);

  & p {
    line-height: 1.5;
  }
}