@use 'utils' as *;

@media (max-width: 625px), (max-height: 950px) {
  .meeting {
    font-size: rem(30)
  }

  .header {
    margin-bottom: 0;

    &__container {
      margin-inline: rem(15);
    }

    &__search::placeholder {
      color: var(--color-header-text);
    }
  }

  .main__card {
    margin-inline: auto;
    height: 100%;
    border: none;
    border-radius: 0;
    min-height: calc(100vh - 69.5px);
  }

  .card__time {
    margin-bottom: rem(40);
  }

  .extra__wind {
    margin-block: rem(15);
  }

  .dropdown__menu {
    left: rem(-60);
  }

  :root[data-theme="light"] {
    --color-dark-alternate: #c5c5c5;
    --color-header-text: #000000;
    --color-header-hover: #424242;
  }

  :root[data-theme="forest"] {
    --color-dark-alternate: #456c35;
  }

  :root[data-theme="sakura"] {
    --color-dark-alternate: #bd787d;
  }

  :root[data-theme="orange"] {
    --color-dark-alternate: #cc883e;
  }

  :root[data-theme="ocean"] {
    --color-dark-alternate: #094d74;
  }
}