@use 'utils' as *;

@media (max-width: 575px), (max-height: 950px) {
  .meeting {
    font-size: rem(30)
  }

  .header {
    margin-bottom: 0;
  }

  .header__container {
    margin-inline: rem(15);
  }

  .main__card {
    margin-inline: auto;
    height: 100%;
    border: none;
    border-radius: 0;
    min-height: calc(100vh - 69.5px);
  }

  .card__forecast {
    justify-content: space-evenly;
  }
}