@use 'fonts' as *;

body {
  font-family: var(--font-family-base), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75;
  background-image: url('/public/background/pattern.svg');
  white-space: nowrap;
  color: var(--color-text)
}

:root {
  --color-text: #ffffff;
  --color-header-text: #ffffff;
  --color-hover: #d7d7d7;
  --color-header-hover: #d7d7d7;

  --font-family-base: josefin-sans, sans-serif;

  --theme-gradient: #282e33;

  --black-opacity: rgba(0, 0, 0, 0.1);
  --blackX2-opacity: rgba(0, 0, 0, 0.2);

  --color-dark-alternate: #131619;
}

:root[data-theme="default"] {
  --theme-gradient: linear-gradient(#3c4449, #2d3033);
}

:root[data-theme="light"] {
  --theme-gradient: linear-gradient(#ffffff, #e5e5e5);
  --color-text: #000000;
  --color-hover: #424242;
}

:root[data-theme="forest"] {
  --theme-gradient: linear-gradient(#acc38b 0%, #778f51 40%, #456c35 100%);
}

:root[data-theme="sakura"] {
  --theme-gradient: linear-gradient(#d7c1d5 0%, #e0acbe 40%, #bd787d 100%);
}

:root[data-theme="orange"] {
  --theme-gradient: linear-gradient(#a5c6b1 0%, #f4c88c 85%, #cc883e 100%);
}

:root[data-theme="ocean"] {
  --theme-gradient: linear-gradient(#9cb9d1 0%, #759cd8 55%, #094d74 100%);
}

