@use 'sass:math';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.'
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.minicard {
  width: rem(95);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;

  &--forecast-day {
    padding-block: rem(7);
    line-height: 1.35;
  }
}

.button {
  @include flex-center;
  background-color: transparent;
  cursor: default;
  border: none;
  color: var(--color-white);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &.show {
    transform: scale(1.05) translateY(rem(-3));
    color: var(--color-light-gray);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-light-gray);
      transform: scale(1.05) translateY(rem(-3));
    }
  }

  &-forecast {
    background-color: var(--black-opacity);

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
        transform: scaleY(1.07) translateY(rem(-3));
      }
    }
  }
}

span {
  line-height: 0;
  vertical-align: super;
}

p {
  font-family: var(--font-family-base), sans-serif;
}

.current-hour {
  background-color: var(--blackX2-opacity);
  transform: scaleY(1.07) translateY(rem(-3));
}
