@use 'sass:math';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.woff2');
  font-display: swap;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.'
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.minicard {
  width: rem(85);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;

  &--forecast {
    padding-block: rem(7);
    line-height: 1.35;
  }
}

button {
  background-color: transparent;
  cursor: default;
  border: none;
  color: var(--color-white);
  @include flex-center;

  &:hover {
    color: var(--color-light-gray)
  }
}

.current {
  background-color: var(--black-opacity);
}